@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
}

html.dark {
	background-color: theme("colors.kayozen.dark.background");
	color: theme("colors.kayozen.dark.text");
}

/* Optional smooth color transition */
* {
	transition: background-color 0.25s ease, color 0.25s ease;
}
